<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
	<typeAlias alias="notes" type="noteEarth.vo.Notes"/>	
	<typeAlias alias="pages" type="noteEarth.vo.Pages"/>	
	<typeAlias alias="pageTemplates" type="noteEarth.vo.PageTemplates"/>	
	</typeAliases>
			

	<mappers>
			<mapper resource="noteEarth/resource/R4000_notesMapper.xml"/>
			<mapper resource="noteEarth/resource/R2000_myTempsMapper.xml"/>		
	</mappers>
	
	
</configuration>